#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.br-tooth {
  position: relative;
}

.br-tooth svg:nth-child(8) {
  position: relative;
  top: -0.7rem;
}

.br-tooth svg:nth-child(7) {
  position: relative;
  top: -0.5rem;
}

.br-tooth svg:nth-child(6) {
  position: relative;
  top: -0.1rem;
}

.br-tooth svg:nth-child(5) {
  position: relative;
  top: 0.3rem;
}

.br-tooth svg:nth-child(4) {
  position: relative;
  top: -0.1rem;
}

.br-tooth svg:nth-child(3) {
  position: relative;
  top: 0.9rem;
}

.br-tooth svg:nth-child(2) {
  position: relative;
  top: 1.3rem;
}

.br-tooth svg:nth-child(1) {
  position: relative;
  top: 1.6rem;
}

.bl-tooth svg:nth-child(1) {
  position: relative;
  top: -0.7rem;
}

.bl-tooth svg:nth-child(2) {
  position: relative;
  top: -0.5rem;
}

.bl-tooth svg:nth-child(3) {
  position: relative;
  top: -0.1rem;
}

.bl-tooth svg:nth-child(4) {
  position: relative;
  top: 0.3rem;
}

.bl-tooth svg:nth-child(5) {
  position: relative;
  top: -0.1rem;
}

.bl-tooth svg:nth-child(6) {
  position: relative;
  top: 0.9rem;
}

.bl-tooth svg:nth-child(7) {
  position: relative;
  top: 1.3rem;
}

.bl-tooth svg:nth-child(8) {
  position: relative;
  top: 1.6rem;
}

.ul-tooth svg:nth-child(8) {
  position: relative;
  top: -0.4rem;
}

.ul-tooth svg:nth-child(7) {
  position: relative;
  top: 0rem;
}

.ul-tooth svg:nth-child(6) {
  position: relative;
  top: 0.5rem;
}

.ul-tooth svg:nth-child(5) {
  position: relative;
  top: 0.7rem;
}

.ul-tooth svg:nth-child(4) {
  position: relative;
  top: 0.5rem;
}

.ul-tooth svg:nth-child(3) {
  position: relative;
  top: 0.9rem;
}

.ul-tooth svg:nth-child(2) {
  position: relative;
  top: 1.1rem;
}

.ul-tooth svg:nth-child(1) {
  position: relative;
  top: 1.1rem;
}
.ur-tooth svg:nth-child(1) {
  position: relative;
  top: -0.4rem;
}

.ur-tooth svg:nth-child(2) {
  position: relative;
  top: 0rem;
}

.ur-tooth svg:nth-child(3) {
  position: relative;
  top: 0.5rem;
}

.ur-tooth svg:nth-child(4) {
  position: relative;
  top: 0.7rem;
}

.ur-tooth svg:nth-child(5) {
  position: relative;
  top: 0.5rem;
}

.ur-tooth svg:nth-child(6) {
  position: relative;
  top: 0.9rem;
}

.ur-tooth svg:nth-child(7) {
  position: relative;
  top: 1.1rem;
}

.ur-tooth svg:nth-child(8) {
  position: relative;
  top: 1.1rem;
}

#isView svg {
  height: 2rem;
  width: 1.1rem;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}